@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cyan-clr: #2ab2af;
  --bright-yellow-clr: #c0df34;
  --light-gray-clr: #e5eff5;
  --grayish-blue: #98a6bd;
  --light-cyan: #37b6b4;
  --light-weight: 400;
  --bold-weight: 700;
  --font-family: "Karla";
}

body {
  font-size: 16px;
  background-color: var(--light-gray-clr);
  width: 100%;
  height: 100vh;
  font-family: var(--font-family);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 100px auto;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 700px;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.join {
  width: 100%;
  padding: 32px;
  flex: 1;
}

.join h1 {
  font-size: 32px;
  font-weight: var(--bold-weight);
  color: var(--cyan-clr);
  margin-bottom: 16px;
}

.join h3 {
  font-size: 20px;
  color: var(--bright-yellow-clr);
  margin-bottom: 8px;
}

.join p {
  font-size: 18px;
  font-weight: var(--light-weight);
  color: var(--grayish-blue);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.monthly {
  width: 50%;
  background-color: var(--cyan-clr);
  padding: 32px;
  color: white;
}

.monthly h3,
.why-us h3 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #fff;
}

.monthly span {
  font-size: 32px;
  font-weight: var(--bold-weight);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 16px;
}

.monthly span p {
  font-size: 16px;
  color: var(--light-gray-clr);
  font-weight: var(--light-weight);
}

.monthly p {
  margin: 8px 0;
  font-weight: var(--light-weight);
}

.monthly button {
  margin-top: 16px;
  background-color: var(--bright-yellow-clr);
  color: #fff;
  outline: none;
  border: none;
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: var(--bold-weight);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.monthly button:hover {
  background-color: var(--light-gray-clr);
  color: #000;
}

.why-us {
  width: 50%;
  background-color: var(--light-cyan);
  padding: 32px;
}

.why-us ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--light-gray-clr);
  font-weight: var(--light-weight);
}

@media screen and (max-width: 600px) {
  .container {
    height: auto;
    padding: 16px;
  }

  .content {
    flex-direction: column;
  }

  .monthly,
  .why-us {
    width: 100%;
  }

  .join h3,
  .monthly h3,
  .why-us h3 {
    font-size: 18px;
  }
}
